.content {
  display: grid;
  margin: 0;
  margin-top: 56px;
  padding: 0;
  row-gap: 92px;
}

@media screen and (max-width: 1024px) {
  .content {
    row-gap: 88px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    row-gap: 64px;
  }
}
