.footer__links {
  display: flex;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .footer__links {
    flex-direction: column;
  }
}
